@import url(https://fonts.googleapis.com/css?family=Quattrocento+Sans);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {font-size: 0.75em;}

body {

  background-color: white;
  font-family: Open Sans, serif;
  font-weight: 400;
  line-height: 1.45;
  color: #000000;
}

p {
	font-size: 12px;
}

h1, h2, h3, h4 {
  /*margin: 1.414em 0 0.5em;*/
  font-weight: inherit;
  line-height: 1;
}

h1 {
  font-size: 6.998em;
  font-family: Quattrocento Sans, sans-serif;
  font-weight: bolder;
  text-align: center;
}

h2 {
  font-size: 4.827em;
}

h3 {font-size: 1.999em;}

h4 {font-size: 16px;
	font-weight: bold;
	font-family: Quattrocento Sans, sans-serif;
	color: #92140C;
	text-align: center;
}

small, .font_small {font-size: 0.707em;}

html, body {
    margin: 0;
    padding: 0;
}

.siteHeader {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 780px;
  background-size: 100% 780px;
  background-image: url('/images/sea.jpeg');
}
a {
	text-decoration: none;
	color:inherit;
}
a:hover {
  cursor:pointer;
  color: #92140C;
}

.headerFirstName {
  margin-top: 20px;
  font-size: 22px;
  margin-left: 150px;
	position: absolute;
  width: 300px;
	color: #92140C;
}

.headerLastName {
  font-size: 22px;
	margin-top:80px;
  margin-left: 250px;
  width: 450px;
	position: absolute;
}

.headerFullstack {
  margin-top: 130px;
  margin-left: 30px;
	font-size: 18px;
  width: 230px;
  position: absolute;
}

.navBar {
  margin-top: 0px;
  width: 100%;
  position: fixed;
  float: right;
}

.nav {
  margin-top: 30px;
  margin-bottom: 30px;
  float: right;
  font-size: 28px;
  margin-right: 30px;
}

.resume {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 1100px;
  background-color:#514658;
  background-size: 100% 1100px;
}

.pdfHeader {
  text-align: center;
  width: 100%;
}

.firstName {
  margin-left: 150px;
	position: absolute;
  width: 170px;
	color: #92140C;
}

.lastName {
	margin-top:40px;
  margin-left: 250px;
  width: 250px;
	position: absolute;
}
.contact {
	margin-left: 110px;
	position: absolute;
	margin-top: 60px;
	text-align: right;
	font-size: 8px;
}
.links {
		margin-left: 325px;
		position: absolute;
		margin-top: 8px;
		text-align: left;
		width: 300px;
		font-size: 8px;
}

.fullstack {

	font-size: 11px;
}

.fa {
	color: #92140C;
}

.projects {
	margin-top: 140px;
	width: 58%;
	height: 460px;
	float: left;
}
.comm {
	width: 49%;
	float: left;
}
.title {
	width: 49%;
	float: left;
	font-size: 14px;
	font-family: Quattrocento Sans, sans-serif;
	margin: 0px;
}
.projectTitle {
	width: 100%;
	float: left;
	font-size: 14px;
	font-family: Quattrocento Sans, sans-serif;
}

.workExperience {
	width: 100%;
	float: left;
}

.date {
	text-align: right;
	width: 49%;
	float: right;
	font-family: Quattrocento Sans, sans-serif;
	font-size: 14px;
}
.description {
	width: 100%;
	font-style: italic;
	color: #a6a6a6;
	font-size: 12px;
}

.education {
	width: 100%;
	float: left;
}

.tools {
	padding-left: 5px;
	width: 40%;
	float: right;
	height: 190px;
}

.languages {
	margin-top: 140px;
	width: 40%;
	float: right;
	height: 200px;
	/*border: 1px solid black;*/
}
.tools p {
	padding-left: 0px

}
.languages p {
	padding-left: 0px
}

.community {
	text-align: center;
	width: 40%;
	float: right;
	height: 65px;
	color: #a6a6a6;
}

.lang {
	width: 60%;
	float: left;
	color: #a6a6a6;
}

.bubbles {
	width: 25%;
	float: right;
}

.fa-circle {
	color: #a6a6a6;
}
.fa-circle-o {
	color: #a6a6a6;
}

.grey {
	color: #a6a6a6;
	font-size: 11px;
}

.company {
	color: #a6a6a6;
	font-size: 12px;
}

.project {
	float: left;
	width: 100%;
	font-style: italic;
	color: #a6a6a6;
}
.projectDescription {
	color: #a6a6a6;
}
.progress {
	font-style: italic;
}

/*.pdf {
  background-color: white;
	margin: 0 auto;
	width: 700px;
	height: auto;
	overflow: hidden;
	margin-bottom: 40px;
	border: 1px solid rgba(0,0,0, .5);
	padding: 20px;
	padding-left: 40px;
	padding-right: 40px;
	box-shadow: 10px 10px 5px rgba(0,0,0, .5);
}*/

.aboutdiv {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 780px;
  background-size: 100% 780px;
  background-color: #B2B7AD;
}

.contactdiv {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 780px;
  background-size: 100% 780px;
  background-image: url('/images/birds.png');
  background-color: #B2B7AD;
}

.portfoliodiv {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 780px;
  background-size: 100% 780px;
  background-color: #3D4254;
}

.contactIcon {
	margin: 20px
}
